@import "tailwindcss";

:root {
  --color-bg-level-1: #333333;
  /* --color-dark-bg-about-me-resume-client-feedback-contact-me-bottom: #312F2F; */
    --color-bg-level-2: #312F2F;
  /*services card*/
  --color-bg-level-3: #262020; 
  --color-bg-level-4: #3E3C3C; /*aboutme card*/
  --color-bg-input: #6F6C6C;
  --color-bg-carousel: #136C64;

  /* --color-text-primary: #f0f0f0;    
  --color-text-secondary: #a3a3a3; */
  
  /* --color-text-title-active-primary: #FFFFFF; */
  --color-text-primary: #FFFFFF;
  --color-text-navbar: #E1D0D0;
  /* --color-text-aboutme-subtitle: #CCCCCC; */
  --color-text-seconday: #CCCCCC;
  --color-text-input: #757575;

  --color-accent-primary: #7B68EE;
  --color-accent-secondary: #FFBD39;
  --color-accent-tertiary: #163d4d;


  /* --color-bg-btn-primary-hover: rgba(123, 104, 238, 0.8);
  --color-bg-btn-secondary-hover: rgba(255, 189, 57, 0.8);  */
  --color-bg-btn-animation: #3e57d0;

  --background: var(--color-bg-level-1);
  /* --foreground: #ededed; */
  --foreground: var(--color-text-primary);

  --primary: #0070f3;
}

[data-theme="light"] {
  --color-light-bg-level-1:#ffffff;
  --color-light-bg-level-2:#f7f7f7;
  --color-light-bg-level-3:#e9e9e9;

  --color-text-primary: #171717;
  --color-text-secondary: #666666;
   --color-text-navbar: #171717;
  
  --color-accent-gold: #ff9800;
  --color-accent-teal: #0070f3; 

  --background: #ffffff;
  --foreground: #171717;
  --primary: #0070f3;
}
body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-poppins), sans-serif;
}

.custom-btn-animation{

  /* background-color: var(--color-bg-animated-base); */
  color: var(--color-text-primary); 
  transition: background-color 0.3s ease, color 0.3s ease;
   isolation: isolate;

}

.custom-btn-animation::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-btn-animation);
  transform: scaleX(0); 
  transform-origin: 0 50%; 
  transition: transform 0.5s ease-out; 
  z-index: -1; 
}

.custom-btn-animation:hover::before{
  transform:scaleX(1)
}

.project-card{
  position: relative;
}

.project-card::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  border-radius: 0.5rem;
  background-color: var(--color-accent-secondary);
  opacity: 0.8; 
  transform: translate(-50%, -50%) scaleX(0); 
  transform-origin: left;
  transition: transform 0.4s ease-out;
  z-index: 10;
}

.project-card:hover::before {
    transform: translate(-50%, -50%) scaleX(1); 
}
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}



